.contain1 {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 95%;
    height: 20%;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.left {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moonImg {
    margin-top: 10%;

}

.box1 {
    width: 12%;
    height: 97%;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #ffffff;
}

.itemInstruction {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.itemNumber {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
}